
.page-body,
.universal-wrapper,
.article-style,
.content {
  text-align: justify;
  word-break: break-all;
}

p {
  text-align: justify;
  word-break: break-all;
  text-justify: inter-character;
}


.navbar,
.site-footer {
  text-align: left;
}