
.page-body,
.universal-wrapper,
.article-style,
.content {
  text-align: justify;
  word-break: break-all;
}

p {
  text-align: justify;
  word-break: break-all;
  text-justify: inter-character;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left; 
}

.navbar,
.site-footer {
  text-align: left;
}